<div ng-show="isConnected" class="">
    <ul class="messages">
    	<li ng-repeat="msg in messages" ng-class="{message: msg.username, log:!msg.username}"
 style="display: list-item;">
    		<span ng-show="msg.username" class="username" ng-class="" style="color: {{ getUsernameColor(msg.username) }};">{{ msg.username}}</span>
    		<span ng-show="msg.username" class="messageBody">{{ msg.message }}</span>
    		{{ msg.log }}
    	</li>
    </ul>
  <input autofocus class="inputMessage" placeholder="Mensaje..."  ng-model="msg" ng-keypress="($event.which === 13) ? enterMsg(msg) : 0"/>
</div>